

html{
    max-width: 900px;
    margin: 0 auto;

}


body {
    font-size: 1em;
    font-family: "Roboto";
    background-color: black;
    color: white;
}

a {
    color: white;
    font-family: 'Arial';
}


p{
    display: block;
    margin: 30px;
}

h1 {
    margin: 30px;
    font-size: 3em;
}

h2 {
    margin: 30px;
    font-size: 2em;
}

ol{
    margin-bottom: 0;
    list-style-type: lower-latin;
}

ul{
    margin-bottom: 0;
    list-style-type: disc;
}


ol li {
    margin-left: 5em;
}


footer li{
    float: right;
    margin: 0 1em 0 0;
    font-family: 'Arial';
}

a{
    color: white;
}

a:hover{
    color: #d02090;
    text-decoration: none;
}

