

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height : 24.65px;

    font-style: normal;
    font-family: "Source Sans Pro";
    background-color: white;
    color: black;
}

a {
    color: white;
    font-family: 'Arial';
}


p{
    display: block;
    margin: 0 0 1rem 0;
}

h1 {
    margin: 30px;
    font-size: 3em;
}

h2 {
    margin: 30px;
    font-size: 2em;
}

ol{
    margin-bottom: 0;
    list-style-type: lower-latin;
}

ul{
    margin-bottom: 0;
    list-style-type: disc;
}



footer li{
    float: right;
    margin: 0 1em 0 0;
    font-family: 'Arial';
}

a{
    color: white;
}

a:hover{
    color: #d02090;
    text-decoration: none;
}

li{
    list-style-type: disc;
    margin-left: 3em;
}

