
/*
.coverpage{
    height: 200px;
    overflow: hidden;  // remove scrollbar
    position: relative; // MAKE IT APPEAR BELOW HEADER
    background-color: black;
    font-size: 2em;
}

.coverpage img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: block;
}*/

.coverpage{
    height: 50vh;
    overflow: hidden;
    position: relative; /* MAKE IT APPEAR BELOW HEADER */
    background-color: black;
}

.coverpage img{
    width: 1024px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: block;
}

.coverpage div {
    position: relative; /* MAKE IT CENTERED vs. TOP */
    margin-left: 10%;
    top: 20%; /* MAKE IT CENTERED vs. TOP */
    transform: translateY(-50%);
}

.mainmenu  {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    list-style: none;
}

.mainmenu a {
    background: grey;
    border: 1px darkgrey solid;
    color: white;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
}

.mainmenu a:hover{
    color: #d02090;
    text-decoration: none;
}


footer {
    right: 1em;
    margin-bottom:1em;
    border-top: 10px grey;
}

footer li{
    float: right;
    margin: 0 1em 0 0;
    font-family: 'Arial';
    list-style: none;
}

footer li a{
    text-decoration: none;
}

footer li a:hover{
    text-decoration: none;
}


