

body {
    font-size: 2em;
    font-family: "Roboto";
    color: white;
}

input {
    font-size: 1em;
}

.coverpage{
    height: 100vh;
    overflow: hidden;  /* remove scrollbar */
    position: relative; /* MAKE IT APPEAR BELOW HEADER */
    background-color: black;
}

.coverpage img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
    display: block;
}

.coverpage div {
    position: relative; /* MAKE IT CENTERED vs. TOP */
    margin-left: 10%;
    top: 20%; /* MAKE IT CENTERED vs. TOP */
    transform: translateY(-50%);
}

footer {
    position: absolute;
    bottom: 0;
    right: 1em;
    font-size: 0.70em;
    margin-bottom:1em;
}

a {
    color: white;
    font-family: 'Arial';
}

.amount {
    width: 1.3em;
}

.site {
    width: 6em;
}
